/* ARTISTS  LIST*/
.artists--section--artist .inner {
    /* border: 1px solid; */
    max-width: 1300px
}
.artists--section--artist .artist__title {
    font-size: 34px;
    font-weight: bold;
    padding: 30px 0 30px 30px;
}
.artists--section--artist .artists-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,550px);
    gap: 150px 0;
    margin-bottom: 100px;
}
.artists--section--artist .artists-container .artists {
    box-shadow: 2px 3px 5px 0px;
    margin: 30px;
}

/* 중복줄이기 */
.artists--section--artist .artists-container .artists .artist1 {
    width: 100%;
    height: 100%;
    background: url("../img/artisits/younggwang_main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.artists--section--artist .artists-container .artists .artist2 {
    width: 100%;
    height: 100%;
    background: url("../img/artisits/suyoung_main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.artists--section--artist .artists-container .artists .artist3 {
    width: 100%;
    height: 100%;
    background: url("../img/artisits/yunhwa_main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.artists--section--artist .artists-container .artists .artist4 {
    width: 100%;
    height: 100%;
    background: url("../img/artisits/rakoon_main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.artists--section--artist .artists-container .artists .artist5 {
    width: 100%;
    height: 100%;
    background: url("../img/artisits/jaehun_main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.artists--section--artist .artists-container .artists .artist6 {
    width: 100%;
    height: 100%;
    background: url("../img/artisits/manjoong_main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.artists--section--artist .artists-container .artists .artist--name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#open {
    background: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}
#open:hover {
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
}


/* ARTISTS' ARTICLE */

.section-profile-card {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-profile-card .inner {
    width: 1000px;
    height: 550px;
    padding: 24px 16px;
    border-radius: 14px;
    position: relative;
    background: #e5e5e5;
    display: flex;
}
.profile-left { 
    width: 450px;
    padding: 10px;
}
.section-profile-card .profile--img--wrapper {
    width: 400px;
    height: 475px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
} 
.profile--img--wrapper .img-slide {
    display: flex;
    width: 1200px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}
.profile--img--wrapper .img-slide .img-tile {
    width: 400px;
    height: 475px;
}
.profile--img--wrapper .img-slide .img-tile img {
    display: block;
    width: 100%;
    height: 100%;
}
.profile-left .btn-group {
    display: flex;
    justify-content: center;
}
.profile-left .move-btn-to-side {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
}
.profile-left .move-btn-to-side:nth-child(2){
    margin: 10px 10px;
}
.profile-right .profile--details--personal {
    display: flex;
    font-size: 24px;
    text-align: center;
    line-height: 2.5rem;
    font-weight: bold;
}
.profile-right .profile--details--personal .left-list { 
    margin-right: 20px; 
}
.profile-right .profile--details--personal .right-list {
    text-align: start;
}
.profile-right .profile--details--values {
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
    font-weight: bold;
    line-height: 2em;
}

#close {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(+50%);
    width: 100px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
#close:hover {
    background: rgba(0, 0, 0, .1);
}