/* COMMON */
.body_container {
    font-size: 16px;
    color: #333;
    /* color, font-size, */
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}

/* FLOAT */
.float--left {
    float: left;
}
.float--right {
    float: right;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/* SECTION */
.section {
    position: relative;
}
.section .inner {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}


/* HEADER */
header .inner {
    height: 150px;
    display: flex;
}
header .logo {
    width: 200px;
    height: 100%;
}
header .menu-nav {
    flex: 1;
}
header .link-group .main-link {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 25px;
}
header .link-group .main-link li:first-child {
    order: 1;
    margin-right: 10px;
}
header .link-group .main-link li a {
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 10px;
    transition: 0.4s;
}
header .link-group .main-link li a:hover {
    font-size: 16px;
    color: #e5e5e5;
    text-decoration: underline;
}
header .link-group .main-link li a img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
header .link-group .main-link li a:hover img {
    width: 16px;
    height: 16px;
}
header .menu-group {
    margin-left: 40px;
    padding-top: 50px;
}
header .menu-group .main-menu {
    display: flex;
}
header .menu-group .main-menu li {
    margin-right: 30px;
}
header .menu-group .main-menu li a {
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    transition: 0.4s;
}
header .menu-group .main-menu li a:hover {
    font-size: 20px;
    color: #e5e5e5;
    text-decoration: underline;
}


/* FEATURE */
.section--feature {
    height: 750px;
    background: url("../img/main_photo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.section--feature::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}
.section--feature .inner {
    padding: 160px 0;
}
.section--feature .summary {

}
.section--feature .summary .summary__title {
    color: #fff;
    font-size: 68px;
    margin-bottom: 80px;
}
.section--feature .summary .summary__description {
    color: #fff;
    font-size: 25px;
    line-height: 3rem;
}