/* 22. 01. 17 hover 해제 적용이 안된다... */
@media (hover: hover) {
	header .link-group .main-link li a:hover {
        font-size: 16px;
        color: #e5e5e5;
        text-decoration: underline;
    }
    header .link-group .main-link li a:hover img {
        width: 16px;
        height: 16px;
    }
    header .menu-group .main-menu li a:hover {
        font-size: 26px;
        color: #e5e5e5;
        text-decoration: underline;
    }
    .section--artist .artist-tiles .tiles a:hover {
        background: rgba(0, 0, 0, .03);
        font-size: 22px;
        color: #252525;
    }
}

/* COMMON */
.body_container {   
    font-size: 16px;
    color: #333;
    background: #e5e5e5;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
.move_to_top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: sans-serif;
    transition: 0.2s
}
.move_to_top img {
    display: block; 
    width: 25px;
    height: 30px;
}
.move_to_top:hover {
    padding: 10px 15px;
}

/* FLOAT */
.float--left {
    float: left;
}
.float--right {
    float: right;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* INNER-BOX */
.inner--box {
    max-width: 860px;
    margin: 0 auto;
}
.inner--box .box__title {
    font-size: 42px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}
.inner--box .box__title .title__more-info {
    font-size: 15px;
    display: flex;
    flex-direction: row-reverse;
}

/* SECTION */
.section {
    position: relative;
}
.section .inner {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}


/* HEADER */
header {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .75);
    box-shadow: 0 0 5px rgb(0 0 0 / .75);
}
header .inner {
    height: 200px;
    display: flex;
}
header .logo {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo a img {
    display: block;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
header .menu-nav {
    flex: 1;
}
header .link-group .main-link {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 25px;
}
header .link-group .main-link li:first-child {
    order: 1;
    margin-right: 10px;
}
header .link-group .main-link li a {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    transition: 0.4s;
}
header .link-group .main-link li a img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
header .menu-group {
    padding-top: 50px;
}
header .menu-group .main-menu {
    display: flex;
    margin-left: 100px;
}
header .menu-group .main-menu li {
    width: 25%;
}
header .menu-group .main-menu li a {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 30px;
    transition: 0.4s;
}


/* FEATURE */
.section--feature {
    height: 750px;
    background: url("../img/main_photo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.section--feature::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}
.section--feature .inner {
    padding: 160px 0;
}
.section--feature .summary {

}
.section--feature .summary .summary__title {
    color: #fff;
    font-size: 58px;
    margin-bottom: 80px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 75%);
}
.section--feature .summary .summary__description {
    color: #fff;
    font-size: 25px;
    line-height: 3rem;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 75%);
}


/* ARTIST */
.section--artist {
    padding-top: 100px;
}
.section--artist .artist-tiles {
    max-width: 960px; 
    height: 550px;
    margin: 0 auto;
    position: relative;
}
.section--artist .artist-tiles .tiles-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.section--artist .artist-tiles .tiles--slide {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    /* width: 1980px ; */
    margin: 0 auto;
    transition: 0.4s ease-out;
}
.section--artist .artist-tiles .tiles {
    width: 300px;
    margin-top: 30px;
    text-align: center;
}
.section--artist .artist-tiles .tiles:not(:last-child) {
    margin-right: 30px;
}
.section--artist .artist-tiles .tiles img {
    display: block;
    box-shadow: 2px 3px 5px 0px;
    width: 100%;
    height: 375px;
    margin: 0 auto 10px auto;
}
.section--artist .artist-tiles .tiles .artist-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}
.section--artist .artist-tiles .tiles a {
    display: inline-flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 14px;
    transition: 0.2s;
}
.section--artist .artist-tiles .tiles a:hover {
    background: rgba(0, 0, 0, .03);
    font-size: 22px;
    color: #252525;
}
.section--artist .artist-tiles .btn-move {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--artist .artist-tiles .btn-move:hover {
    background: rgba(0, 0, 0, .03);
}
.section--artist .artist-tiles .btn-move img {
    display: block;
    width: 16px;
    height: 16px;
    padding: 20px;
}
#move--left {
    position: absolute;
    top: 50%;
    right: calc(100% + 30px);
    cursor: pointer;
    border-radius: 50%;
}
#move--right{
    position: absolute;
    top: 50%;
    left: calc(100% + 30px);
    cursor: pointer;
    border-radius: 50%;
}


/* ACTIVITY */
.section--activity {
    padding-top: 50px;
    background: #d9dbde;
    color: #333;
    position: relative;
}
.section--activity .activity__wrap {
    
}
.section--activity .activity__wrap .acts-wrapper {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.section--activity .activity__wrap .act {
    width: 350px;
    /* margin 수정 */
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #e5e5e5;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
    transition: 0.4s;
}
.section--activity .activity__wrap .act:not(:last-child) {
    margin-right: 10px;
}
.section--activity .activity__wrap .act .act__breif {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.section--activity .activity__wrap .act img {
    display: block;
    width: 280px;
    height: 300px;
    margin: 10px auto;
}
.section--activity .activity__wrap .act__description {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.2rem;
}
.section--activity .activity__wrap .act__description ul:first-child li {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.section--activity .activity__wrap .act__description ul:last-child {
    /* padding-left: 10px; */
}
.section--activity .activity__wrap .act__description ul:first-child li {
    text-align: center;
    font-weight: bold;
}
.section--activity .activity__wrap .act__description ul:last-child li {
    margin-left: 10px;
}
.activity__scroll__wrap {
}

/* VISUAL */
.section--visual {
    padding-top: 150px;
}
.section--visual .youtube-video {
    max-width: 860px;
    margin: 50px auto;
}
.section--visual .youtube-video .video-ratio {
    height: 0;
    padding-top: 56.25%;
    position: relative;
}
.section--visual .youtube-video .video-ratio iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}


/* FOOTER */
footer {
    background: #000;
    color: #e5e5e5;
    padding: 30px 0;
    box-sizing: border-box;
}
footer.section .inner{
    max-width: 1000px;
    margin:0 auto;
    font-size: 12px;
    border-top: 1px solid #6e6e6e;
    position: relative;
}
footer .footer--company--info {
    display: flex;
    padding-top: 10px;
}
footer .footer--company--info li{
    margin-bottom: 10px;
}
footer .footer--company--info li a {
    color: #fff;
}
footer .footer--company--info li a:hover {
    text-decoration: underline;
}
footer .footer--company--info .info--left {
    text-align: end;
    margin-right: 10px;
}
footer .footer--main {
    display: block;
    max-width: 50%;
}
footer .footer--main img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
footer .footer--link {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    margin: auto;
    box-sizing: border-box;
}
footer .footer--link a {
    display: flex;
    justify-content: center;
    padding: 10px;
}
footer .footer--link a:hover {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0);
    filter: opacity(.5) drop-shadow(0 0 0 .7); 
}
footer .footer--link a:first-child {
    margin-right: 10px;
}
footer .small--p {
    display: none;
}